<form action="post" method="POST" class="form">
  @("put")

  <input type="hidden" name="iduser" value="{{authorId}}">
  <input type="hidden" name="idpost" value="{{postId}}">

  <div class="form-control">
    <label for="name">Title</label>
    <input type="text" name="title" id="title" value="{{title}}">
    <p class="error-message">{{err-title}}</p>
  </div>

  <div class="form-control">
    <label for="text">Text</label>
    <textarea name="text" id="text" rows="15">{{text}}</textarea>
    <p class="error-message">{{err-text}}</p>
  </div>

  <button type="submit">Update Post</button>
</form>